.btn{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFF;

    
    &:hover{
        color: #FFF;
    }
}


